head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=5')

  //- Custom Browsers Tab Color
  meta(name='theme-color' content='#fff')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(property='og:title' content='')
  meta(property='og:type' content='')
  meta(property='og:url' content='')
  meta(property='og:image' content='')
  meta(property='og:site_name' content='')

  //- Favicon
  link(rel="icon" href="img/favicon/favicon.png")

  //- Styles
  link(rel='stylesheet' href='css/main.min.css')
  title #{ title }